header {
  background-color: #0093c4;
  color: #fff;
  text-align: center;
  padding: 20px;
}

section {
  padding: 20px; /* espaciado para la sección de 20 pixeles */
}

/* Estilos del footer */
footer {
  background-color: #0093c4; /* Color de fondo del footer */
  color: #fff;
  padding: 20px 0;
  text-align: center;
  height: 250px;
  display: flex;
  align-items: center;
}

.footer-content {
  margin: 0 auto; /* Centrar el contenido del footer horizontalmente */
  max-width: 1200px; /* Limitar el ancho máximo del footer */
}

nav ul.quick-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav ul.quick-links li {
  display: inline;
}

nav ul.quick-links li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  font-weight: bold;
}

nav ul.quick-links li a:hover {
  background-color: #007bb5;
}

.logo {
  height: auto;
  width: 40px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1) translate(5px, -5px);
}

nav {
  background-color: #0093c4;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #0093c4;
}

.logo {
  height: 28px;
  width: 28px;
}

.logo:hover {
  transform: scale(1.1) translate(5px, -5px);
}

.logo_empresa {
  height: 60px;
  width: 60px;
}
.about-section {
  padding: 50px 0;
  text-align: center;
}
.about-section h2 {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.about-section .card-title {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.about-section .card-text,
.about-section ul {
  color: #294b6e;
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  line-height: 1.5;
}
.about-section ul {
  list-style-type: none;
  padding: 0;
}
.about-section ul li {
  margin-bottom: 10px;
}
.about-section ul li strong {
  color: #0093c4;
}
.card {
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

label {
  font-weight: bold;
}

input {
  box-shadow: inset;
}

p {
  font-family: "Open Sans", sans-serif;
}
